<div class="widget-box" id="recent-box" ng-controller="tasksController">
    <div class="widget-header header-color-blue">
        <div class="row">
            <div class="col-sm-6">
                <h4 class="bigger lighter">
                    <i class="glyphicon glyphicon-align-justify"></i>&nbsp;
                    MY YEARLY GOALS
                </h4>
            </div>
            <div class="col-sm-3">
            </div>
            <div class="col-sm-3">
                <button ng-click="addNewClicked = !addNewClicked;" class="btn btn-sm btn-danger header-elements-margin"><i class="glyphicon  glyphicon-plus"></i>&nbsp;Add New Task</button>
                <!--
                <input type="text" ng-model="filterTask" class="form-control search header-elements-margin" placeholder="Filter Tasks">
                -->

            </div>
        </div>
    </div>
    <div class="widget-body ">
        <form ng-init="addNewClicked = false;" ng-if="addNewClicked" id="newTaskForm" class="add-task">
            <div class="form-actions">
                <div class="input-group">
                    <input type="text" class="form-control" name="comment" ng-model="newTask.task" placeholder="Add New Task" ng-focus="addNewClicked">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit" ng-click="addTask(newTask)"><i class="glyphicon glyphicon-plus"></i>&nbsp;Add New Task</button>
                    </div>
                </div>
            </div>
        </form>
        <div class="task">
            <ul ui-sortable="sortableOptions" ng-model="tasks">
                <li class="checkbox" ng-repeat="(taskIndex, task) in tasks | orderBy:['position', 'id'] | filter : filterTask"
                    ng-dragstart="handleDragStart($event, taskIndex)"
                    ng-dragend="handleDragEnd($event)"
                    ng-dragenter="handleDragEnter($event, taskIndex)" 
                    ng-dragleave="handleDragLeave($event)"
                    ng-dragover="handleDragOver($event)"
                    ng-drop="handleDrop($event, taskIndex)"
                    draggable="true"
                    ng-class="{'shift-up':task.initialPosition > task.position, 'shift-down':task.initialPosition < task.position}"
                    >
                    <input 
                        type="checkbox"
                        ng-model="task.status"
                        ng-true-value="'2'"
                        ng-false-value="'0'"
                        ng-change="toggleStatus(task)"
                        /> 
                    <span ng-class="{
                                strike:task.status === '2'
                            }">{{taskIndex}}.-(#{{task.id}})  {{task.task}}</span>
                    <a ng-click="deleteTask(task, taskIndex)" class="pull-right"><i class="glyphicon glyphicon-trash"></i></a>
                    <span class="position-changes" ng-if="task.initialPosition !== task.position">{{task.initialPosition}}->{{task.position}}</span> 
                </li>
            </ul>
        </div>		
    </div>
    <style>
        .position-changes{
            color: white;
            float: right;
            position: absolute;
            right: 0px;
            font-size: small;
            background-color: black;
            padding: 5px;
            text-shadow: 0px 0px 2px red;
        }
    </style>


</div>